<a href="https://colab.research.google.com/github/prathamnishad/experimental/blob/master/intern2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# AFTER SUMBISSION MODEL'S ACCURACY INCREASED SO I COMMITTED THE FILE ON GITHUB
# AFTER SUMBISSION MODEL'S ACCURACY INCREASED SO I COMMITTED THE FILE ON GITHUB
# AFTER SUMBISSION MODEL'S ACCURACY INCREASED SO I COMMITTED THE FILE ON GITHUB

import os
import zipfile
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
import time
from sklearn.metrics import classification_report, accuracy_score
from sklearn import preprocessing


# file is in my google drive and accessing the zip file from mounted drive on my colab notebook
local_zip = '/content/drive/My Drive/raw.zip'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('/tmp/data')
raw=os.path.join("/tmp/data/raw")
train_gyro_phone=os.path.join("/tmp/data/raw/train/phone/gyro")
print('total train file:', len(os.listdir(train_gyro_phone)))
train_accel_phone=os.path.join("/tmp/data/raw/train/phone/accel")
print('total train file:', len(os.listdir(train_accel_phone)))
train_gyro_watch=os.path.join("/tmp/data/raw/train/watch/gyro")
print('total train file:', len(os.listdir(train_gyro_watch)))
train_accel_watch=os.path.join("/tmp/data/raw/train/watch/accel")
print('total train file:', len(os.listdir(train_accel_watch)))

test_gyro_phone=os.path.join("/tmp/data/raw/test/phone/gyro")
print('total test file:', len(os.listdir(test_gyro_phone)))
test_accel_phone=os.path.join("/tmp/data/raw/test/phone/accel")
print('total test file:', len(os.listdir(test_accel_phone)))
test_gyro_watch=os.path.join("/tmp/data/raw/test/watch/gyro")
print('total test file:', len(os.listdir(test_gyro_watch)))
test_accel_watch=os.path.join("/tmp/data/raw/test/watch/accel")
print('total test file:', len(os.listdir(test_accel_watch)))

total train file: 20
total train file: 20
total train file: 20
total train file: 20
total test file: 14
total test file: 14
total test file: 14
total test file: 14

In [2]:
#all the training data from 4 different folders
df=pd.DataFrame()
for n in os.listdir(train_gyro_phone):
    a=pd.read_csv(os.path.join(train_gyro_phone,n),sep=",",header=None)
    df=pd.concat([df,a])
for n in os.listdir(train_accel_phone):
    a=pd.read_csv(os.path.join(train_accel_phone,n),sep=",",header=None)
    df=pd.concat([df,a])
  
for n in os.listdir(train_gyro_watch):
    a=pd.read_csv(os.path.join(train_gyro_watch,n),sep=",",header=None)
    df=pd.concat([df,a])

for n in os.listdir(train_accel_watch):
    a=pd.read_csv(os.path.join(train_accel_watch,n),sep=",",header=None)
    df=pd.concat([df,a])
d_train=df
df.head()

      0  1                2         3         4            5
0  1617  A  268914308299448  0.794785  0.341476   0.2416687;
1  1617  A  268914358653452 -0.593460  0.439743   0.7967987;
2  1617  A  268914409007456 -0.590118 -0.879135   1.2294617;
3  1617  A  268914459361460 -0.821747 -1.319351   0.8325348;
4  1617  A  268914509715464 -1.026154 -0.588715  0.06594849;

In [3]:
#all the test data from 4 different folder
df_test=pd.DataFrame()
for n in os.listdir(test_gyro_phone):
    a=pd.read_csv(os.path.join(test_gyro_phone,n),sep=",",header=None)
    df_test=pd.concat([df_test,a])
for n in os.listdir(test_accel_phone):
    a=pd.read_csv(os.path.join(test_accel_phone,n),sep=",",header=None)
    df_test=pd.concat([df_test,a])
  
for n in os.listdir(test_gyro_watch):
    a=pd.read_csv(os.path.join(test_gyro_watch,n),sep=",",header=None)
    df_test=pd.concat([df_test,a])

for n in os.listdir(test_accel_watch):
    a=pd.read_csv(os.path.join(test_accel_watch,n),sep=",",header=None)
    df_test=pd.concat([df_test,a])
d_test=df_test
df_test.head()

      0  1                 2         3         4             5
0  1622  A  1149668096722729 -0.239120  0.131454  -0.22280884;
1  1622  A  1149668147076733 -0.061310  0.098495  -0.05696106;
2  1622  A  1149668197430737 -0.036469 -0.424423  0.113845825;
3  1622  A  1149668247784741  0.471176 -0.633347    0.3421631;
4  1622  A  1149668298138745  1.204346 -0.074951   0.53718567;

In [0]:
#function to preprocess data
def make_df(df):
  df.columns=["id","activity","time","x","y","z"]#column names
  df['z'] = df['z'].apply(lambda x: float(x[:-1]))#converting the z value column to float
  df['time'] = df['time'].apply(lambda x: x//1000000)#converting timestamp in micro seconds to datetime objects
  df['time'] = df['time'].apply(lambda x: datetime.fromtimestamp(x))
  for n in ("year","month","week","day","dayofweek","dayofyear","is_month_end","is_month_start","is_quarter_end","is_quarter_start","is_year_end","is_year_start"):
      df[n]=getattr(df.time.dt,n)# extracting extra data from time column
  df.drop(columns="time",inplace=True)

  for n in ["is_month_end","is_month_start","is_quarter_end","is_quarter_start","is_year_end","is_year_start"]:
    df[n]=df[n].apply(lambda x:int(x))#converting to int from boolean i don't know why(o_o)

  act=["A","B","C","D","E","F","G","H","I","J","K","L","M","O","P","Q","R","S"]#converting activity column from categorical data to numerical data
  df["activity"]=df["activity"].apply(lambda a: act.index(a))
  df = df.sample(frac=1).reset_index(drop=True)
  df.drop(columns="id",inplace=True)#dropping id column as it is of no use
  return df

In [0]:
df_train=make_df(df)
df_test=make_df(df_test)

In [6]:
dfa=pd.DataFrame()#single data frame for whole data train + test. Later divided into train and test set 
dfa=pd.concat([dfa,df_test])
dfa=pd.concat([dfa,df_train])
dfa.head()

   activity         x         y  ...  is_quarter_start  is_year_end  is_year_start
0         5 -6.390488 -5.067032  ...                 0            0              0
1        16 -3.232467  0.632914  ...                 0            0              0
2         8  0.276081 -5.887492  ...                 0            0              0
3        16 -0.868359  1.136856  ...                 0            0              0
4         7 -5.719315  3.557754  ...                 0            0              0

[5 rows x 16 columns]

In [0]:
# train_y=dfa["activity"]
# train_x=dfa.drop(columns="activity")
# x_train, x_test, y_train, y_test = train_test_split(train_x,train_y , train_size = 0.7, random_state =  90)
# train=len(x_train)
# test=len(x_test)

In [0]:
# mm_scaler = preprocessing.Normalizer().fit(x_train)
# x_train=mm_scaler.transform(x_train)
# x_test=mm_scaler.transform(x_test)

In [16]:
model_tree = tree.DecisionTreeClassifier()

start = time.time()
model_tree.fit(x_train, y_train)
end = time.time()
print(end - start)

y_pred= model_tree.predict(x_test)
acc = accuracy_score(y_test, y_pred)
print(f"Accuracy of {model_tree} is {acc}")

134.9067153930664
Accuracy of DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best') is 0.9428672169754603

In [10]:
from sklearn.externals import joblib 
  
# Save the model as a pickle in a file 
joblib.dump(model_tree, '/content/drive/My Drive/Decision_tree_classifier.pkl')

['/content/drive/My Drive/Decision_tree_classifier.pkl']

In [17]:
Random_classifier = RandomForestClassifier(n_estimators = 50)
start = time.time()
Random_classifier.fit(x_train, y_train)
end = time.time()
print(end - start)
y_pred = Random_classifier.predict(x_test)
acc = accuracy_score(y_test,y_pred)
print(f"Accuracy of {Random_classifier} is {acc}")

1159.6711559295654
Accuracy of RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=50,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False) is 0.962563715048386

In [0]:
#Decision tree takes much less time to train in ralation to Random Forest.
#Accuracy of Random Forest is always more than that of Decision Tree

In [0]:
activity_encoder=["A","B","C","D","E","F","G","H","I","J","K","L","M","O","P","Q","R","S"]

In [0]:
#Decision Tree evaluation
eval_data=make_df(eval_data)#eval_data is the evaluation dataframe
eval_data=mm.scaler.transform(eval_data)#provided by you
y_pred= model_tree.predict(eval_data)
actual_pred=[]
for n in y_pred:
  actual_pred.append(activity_encoder[n])

In [0]:
#Random Forest evaluation
eval_data=make_df(eval_data)#eval_data is the evaluation dataframe
eval_data=mm.scaler.transform(eval_data)#provided by you
y_pred= Random_classifier.predict(eval_data)
actual_pred=[]
for n in y_pred:
  actual_pred.append(activity_encoder[n])